<ion-view title="Fight Crimes" id="page1" style="background-color:#8940B9;">
  <ion-content padding="true" class="has-header">
    <h1 id="fightCrimes-heading2" style="color:#D5E0E6;text-align:center;">Home</h1>
    <div class="spacer" style="width: 300px; height: 93px;"></div>
    <a ui-sref="signUp" id="fightCrimes-button2" class="button button-positive  button-block">Sign Up</a>
    <a ui-sref="login" id="fightCrimes-button9" class="button button-positive  button-block">Login</a>
  </ion-content>
</ion-view>