<ion-view title="Profile" id="page8" style="background-color:#8940B9;">
  <ion-content padding="true" class="has-header">
    <div id="profile-button-bar3" class="button-bar">
      <a ui-sref="fightCrimes" id="profile-button27" class="button button-positive  button-block">Home</a>
      <a ui-sref="cases" id="profile-button30" class="button button-positive  button-block">Cases</a>
      <a ui-sref="fightCrimes" id="profile-button28" class="button button-positive  button-block">Sign Out</a>
    </div>
    <a ui-sref="postCrimeScenes" id="profile-button14" class="button button-positive  button-block">Post</a>
    <a ui-sref="shareInformation" id="profile-button37" class="button button-positive  button-block">Share Information</a>
    <div>
      <header>

      </header>


      <div id="content" class="clearfix">
        <section id="left">
          <div id="userStats" class="clearfix">

          </div>

          <div class="data">
            <h1>Mr X</h1>
            <h3>Chittagong, Bangladesh</h3>


            <div class="sep"></div>
            <ul class="numbers clearfix">
              <li>Contributed in Cases
                <strong>117</strong>
              </li>
              <li>Posted Photos
                <strong>264</strong>
              </li>
              <li class="nobrdr">Shared Information
                <strong>67 times</strong>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <h1>About Me:</h1>
      <p>I just want to help others by making a peaceful society.</p>


      <section id="right">
        <div class="gcontent">
          <div class="head">


          </div>


        </div>
      </section>
    </div>
    <div></div>
    <div id="profile-button-bar1" class="button-bar"></div>
  </ion-content>
</ion-view>