<ion-view title="Cases" id="page11" style="background-color:#8940B9;">
  <ion-content padding="true" class="has-header">
    <ion-list id="cases-list8">
      <ion-item class="item-icon-left" id="cases-list-item7">
        <i class="icon ion-alert"></i>Ctg Railway Station Hijack</ion-item>
      <label class="item item-input" id="cases-input16">
        <span class="input-label">Case Progress: 55%</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-icon-left" id="cases-list-item8">
        <i class="icon ion-alert"></i>Bahaddarhat Robbery</ion-item>
      <label class="item item-input" id="cases-input17">
        <span class="input-label">Case Progress: 72%</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-icon-left" id="cases-list-item9">
        <i class="icon ion-alert"></i>GEC Road Murder Case</ion-item>
      <label class="item item-input" id="cases-input18">
        <span class="input-label">Case Progress: 26%</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-icon-left" id="cases-list-item10">
        <i class="icon ion-android-done"></i>Patenga Motor Vehicle Theft</ion-item>
      <label class="item item-input" id="cases-input19">
        <span class="input-label">Case Progress: 100%</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-icon-left" id="cases-list-item11">
        <i class="icon ion-android-done"></i>Halishahar Car Theft</ion-item>
      <label class="item item-input" id="cases-input20">
        <span class="input-label">Case Progress: 100%</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
  </ion-content>
</ion-view>