<ion-view title="Login" id="page5" style="background-color:#8940B9;">
  <ion-content padding="true" class="has-header">
    <form id="login-form6" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="abc@123.com">
        </label>
        <label class="item item-input" id="login-input10">
          <span class="input-label">Password</span>
          <input type="password" placeholder="iuriwue382938@#">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="profile" id="login-button21" class="button button-stable  button-block">Log in</a>
      <a ui-sref="fightCrimes" id="login-button22" class="button button-energized  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>