<ion-view title="Post Crime Scenes" id="page9" style="background-color:#8940B9;">
  <ion-content padding="true" class="has-header">
    <div id="postCrimeScenes-button-bar4" class="button-bar">
      <a ui-sref="profile" id="postCrimeScenes-button34" class="button button-positive  button-block">Profile</a>
      <a ui-sref="cases" id="postCrimeScenes-button35" class="button button-positive  button-block">Cases</a>
      <a ui-sref="fightCrimes" id="postCrimeScenes-button36" class="button button-positive  button-block">Sign Out</a>
    </div>
    <div>
      <img src="img/HvcyjCNTdizQIbaBwIZD_Ctgblast.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/OJvuiwXBQ6uYrDyV27v9_unnamed.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>